body {
    background: #e4e4e4;
}
.card{
    margin-bottom: 30px !important;
}
#app > div > div > form > div:nth-child(1) > div > div > input,#app > div > div > form > div:nth-child(2) > div > div > input{
    background-color: transparent !important;
    color: #fff !important;
    letter-spacing: 5px;
}

#app > div > div > form > div:nth-child(1) > label,#app > div > div > form > div:nth-child(2) > label{
    color: #ffffff;
    letter-spacing: 3px;
}
/*去除a标签默认样式*/

/*正常的未被访问过的链接*/
a:link {
    text-decoration: none;
}
/*已经访问过的链接*/
a:visited {
    text-decoration: none;
}
/*鼠标划过(停留)的链接*/
a:hover {
    text-decoration: none;
}
/* 正在点击的链接*/
a:active {
    text-decoration: none;
}
.pagination{
    display: flex ;
    justify-content: center ;
}

